@import "../../styles/variables";

.nav {
  background-color: $clr-faded-blue;
  height: 10vh;
  border-block-end: 1px;

  h1 {
    font-size: 1.5rem;
  }
}
.buttons {
  height: 90vh;
  gap: 2rem;
  button {
    font-size: 2rem;
    padding: 0.5em 2em;
    border-radius: $border-radius;
  }
}
