@import "../../styles/variables";

.form {
  margin-top: 5rem;
  flex-direction: column;
  font-size: 1.5rem;

}

.row {
  margin-top: 2rem;
  width: 30rem;
  display: flex;
  justify-content: space-between;

  input {
    width: 17rem;
  }
}

.submit_btn {
    font-size: 1.5rem;
    padding: 0.5em 2em;
    border-radius: $border-radius;
    margin: auto;
  }