// colors
$clr-yellow: hsl(51deg 91% 67%);
$clr-faded-yellow: hsl(51deg 91% 90%);
$clr-blue: hsl(210deg 58% 35%);
$clr-faded-blue: hsl(210deg 58% 55%);
$border-radius: 10px;

$box-shadow: 0 0 0.5em 0.1em #00000010;
$box-shadow-hovered: 0 0 1em 0.1em #00000020;

$transition-time: 300ms;
